<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Agendamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="lastname" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input formControlName="mobile" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-input formControlName="direction" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de Nacimiento</ion-label>
        <ion-datetime formControlName="date" displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Añadir Nota</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>

